<!DOCTYPE html>
<html>
 <head>
     <link rel="stylesheet" href="./css/styles.css">

 </head> 
 
 <body>
     {{>footer}}
     {{>header}}

    
    <h1>{{name}}</h1>
    <h1>hehehehehe</h1>

 </body>
</html>